@media only screen and (max-device-width: 1900px) {
    .header{
        width: 100%;
        height: 105px;
        left: 0px;
        top: 0px;
        
        background: rgba(242, 53, 53, 0.51);
    }
    .logo{
        position: absolute;
        width: 138px;
        height: 105px;
        left: 0px;
        top: 0px;
    }
    .instagram, .whatsapp{
        width: 195%;
        height: 41px;
        left: 1300px;
    }
    
    
    
    .chapeu_marrom{
        
        width: 270px;
        height: 220px;
        left: 33px;
        top: 290px;

        border-radius: 135px;
    }

    
} 


