@media only screen and (max-device-width: 1900px) {
    .header{
        width: 100%;
        height: 105px;
        left: 0px;
        top: 0px;
        
        background: rgba(242, 53, 53, 0.51);
    }
    .logo{
        position: absolute;
        width: 138px;
        height: 105px;
        left: 0px;
        top: 0px;
    }
    .instagram{
        width: 3.5%;
        height: 44px;
        margin-left: 95%;
        top: 54px;
        
    }
    .whatsapp{
        width: 3.5%;
        height: 44%;
        margin-left: 95%;
    }



    .product{
        position: absolute;
        width: 100%;
        height: 644px;
        left: 0px;
        top: 105px;
        background: #FFFFFF;
    }
    
    .chapeu_marrom{  
        width: 16.875%;
        height: 220px;
        left: 33px;
        border-radius: 135px;
    }

    .capa_iphone{
        width: 16.875%;
        height: 245px;
        left: 285px;
        border-radius: 135px;
    }

    .chapeu_azul{
        width: 16.875%;
        height: 220px;
        border-radius: 135px;
    }
   
    .cards{
        width: 100%;
        height: 446px;
        left: 0px;
        top: 749px;
    }

    .seta_esquerda{
        position: relative;
        left: 1.17%;
        right: 95.79%;
        top: 150.05%;
        bottom: 43.22%;
        width: 3%;

        background: rgba(227, 242, 53, 1);
    }

    .seta_direita{
        position: relative;
        left: 92.5%;
        top: 150.05%;
        bottom: 43.22%;
        width: 3%;
        transform: rotate(180deg);

        background: rgba(227, 242, 53, 1);
    }

    .modelo{
        position: absolute;
        width: 316px;
        height: 318px;
        left: 749px;
        top: 367px;
        border-radius: 238px;
    }

    .contato{
        position: absolute;
        width: 1080px;
        height: 734px;
        left: 0px;
        top: 1195px;

        background: #FFFFFF;
    }
    
    .contato-text{
        position: absolute;
        width: 228px;
        height: 65px;
        left: 680px;
        top: 157px;

        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 64px;
        line-height: 75px;

        color: #000000;
    }

    .whatsapp-contato{
        position: absolute;
        width: 81px;
        height: 78px;
        left: 620px;
        top: 459px;
    }

    .instagram-contato{
        position: absolute;
        width: 75px;
        height: 73px;
        left: 623px;
        top: 562px;

        background: #FFFFFF;
    }
}


